<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Type</th>
      <th>Power Input On</th>
      <th>Power Input Off</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appliance of appliances">
      <ng-container *ngFor="let mode of appliance.operationalModes">
        <td>{{ appliance?.name }} ({{ mode.name }})</td>
        <td>{{ mode?.powerInputOn | number: '1.1-1' }}</td>
        <td>{{ mode?.powerInputOff | number: '1.1-1' }}</td>
        <td>{{ mode?.duration }}</td>
      </ng-container>
    </tr>
  </tbody>
</table>
